[submodule "Test/VisualTest/opencv-show-pixel-value"]
	path = Test/VisualTest/opencv-show-pixel-value
	url = https://github.com/reunanen/opencv-show-pixel-value
[submodule "Test/opencv-build-vs"]
	path = Test/opencv-build-vs
	url = https://github.com/reunanen/opencv-build-vs
[submodule "Test/RegressionTest/picotest"]
	path = Test/RegressionTest/picotest
	url = https://github.com/reunanen/picotest
