[submodule "Test/VisualTest/opencv-show-pixel-value"]
	path = Test/VisualTest/opencv-show-pixel-value
	url = https://github.com/reunanen/opencv-show-pixel-value
[submodule "Test/opencv-binaries-vs"]
	path = Test/opencv-binaries-vs
	url = git@bitbucket.org:reunanen/opencv-binaries-vs
